*{margin: 15;padding: 15;}
body{
    background-image: url(atras.jpg);
    background-size: 100%;
}
#principal{
    border: solid 1px;
    padding: 8px;
    }
legend{
    border: solid 1px;
    border-radius: 15px;
    background-color: blue;
}
body{
    width: 750px; 
    height: 750px;
    margin: auto;
    background: url(atras.jpg);
    background-size: 100%;

}
fieldset{

    border: solid 1px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}